.editor-styles-wrapper select.reacg-gbShortcodesList,
.editor-styles-wrapper .reacg-createButton button {
  border: 1px solid #8c8f94;
  font-weight: revert;
  min-width: 300px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 2;
  color: #2c3338;
  box-shadow: none;
  border-radius: 3px;
  padding: 0 24px 0 8px;
  min-height: 30px;
  max-width: 25rem;
  -webkit-appearance: none;
  background-color: #fff;
  background-size: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
.editor-styles-wrapper select.reacg-gbShortcodesList option:not(:first-child) {
  text-align: left;
}
.editor-styles-wrapper .reacg-separator {
  font-weight: revert;
  font-size: 20px;
  line-height: 2;
  color: #2c3338;
  vertical-align: middle;
  text-align: center;
  min-height: 30px;
  display: inline-block;
  margin: 0 5px 20px 5px;
}

.reacg-spinner__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  z-index: 1;
}

.reacg-instruction {
  text-align: center;
}

.reacg-gutenberg-controls {
  display: flex;
  align-items: center;
  justify-content: left;
}

.reacg-createButton {
  margin: 0 auto;
}