.reacg-deactivate-popup-overlay {
  z-index: 100000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: auto;
}

.reacg-deactivate-popup {
  background: #FFF;
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
  top: 20%;
  position: absolute;
  left: calc(50% - 300px);
}

@media screen and (max-width: 600px) {
  .reacg-deactivate-popup {
    width: 100%;
    top: 0;
    left: 0;
  }
}

.reacg-deactivate-popup>div {
  padding: 18px 40px;
  border-top: 1px solid #fbfbfb;
}

.reacg-deactivate-popup-header {
  font-size: 18px;
  font-weight: 500;
  background: #fbfbfb;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.1);
}

.reacg-reasonType-wrapper div,
.reacg-reason-wrapper {
  margin-top: 7px;
}

.reacg-deactivate-popup-body textarea {
  width: 100%;
}

.reacg-deactivate-popup .reacg-deactivate-popup-footer {
  padding-top: 10px;
  border-top: 1px solid #CCCCCC;
}

.reacg-agreement-wrapper,
.reacg-buttons-wrapper {
  padding-top: 10px;
}

.reacg-buttons-wrapper {
  text-align: right;
}

.reacg-note-wrapper {
  font-size: 14px;
  font-weight: 500;
}

.reacg-deactivate-popup-close {
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
}

.reacg-deactivate-popup label {
  cursor: pointer;
}

.reacg-skip.button,
.reacg-skip.button:hover,
.reacg-skip.button:focus {
  background: none;
  border: none;
}

.reacg-submit,
.reacg-deactivate-popup .spinner {
  float: left;
}

.reacg-rating {
  vertical-align: middle;
  display: inline-flex;
}

.reacg-rating span {
  color: #ffb900;
  width: 13px;
  height: 13px;
  font-size: 13px;
}

.reacg-upgrade {
  background-color: rgb(147 177 77);
}
.reacg-upgrade:focus,
.reacg-upgrade:active,
.reacg-upgrade:hover {
  background-color: rgb(135 162 71);
}
.reacg-upgrade,
.reacg-upgrade:active,
.reacg-upgrade:focus,
.reacg-upgrade:hover {
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 3px;
  padding: 3px 10px 5px !important;
  margin: 5px 0;
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 782px) {
  .reacg-upgrade {
    margin: 5px 8px;
  }
}
.reacg-hidden {
  display: none !important;
}