.reacg-rating {
  vertical-align: middle;
  display: inline-flex;
}

.reacg-rating span {
  color: #ffb900;
  width: 13px;
  height: 13px;
  font-size: 13px;
}

.reacg-upgrade {
  background-color: rgb(147 177 77);
}
.reacg-upgrade:focus,
.reacg-upgrade:active,
.reacg-upgrade:hover {
  background-color: rgb(135 162 71);
}
.reacg-upgrade,
.reacg-upgrade:active,
.reacg-upgrade:focus,
.reacg-upgrade:hover {
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 3px;
  padding: 3px 10px 5px !important;
  margin: 5px 0;
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 782px) {
  .reacg-upgrade {
    margin: 5px 8px;
  }
}
.reacg-hidden {
  display: none !important;
}