.reacg-form-popup-overlay {
  z-index: 100000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: auto;


  .reacg-popup {
    background: #FFF;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  @media screen and (max-width: 600px) {
    .reacg-popup {
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  .reacg-popup > div {
    padding: 18px 40px;

  }

  .reacg-popup-header {
    font-size: 18px;
    font-weight: 500;
    background: #FBFBFB;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.1);
    height: 55px;
    box-sizing: border-box;
    border-bottom: 1px solid #FBFBFB;
  }

  .reacg-popup-body {
    line-height: 1.5;
  }

  .reacg-logo {
    background-image: url("../images/icon.svg");
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .reacg-popup-title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
  }
  .reacg-popup-description {
    font-size: 14px;
  }

  .reacg-reasonType-wrapper div,
  .reacg-reason-wrapper {
    margin-top: 7px;
  }

  .reacg-popup-body textarea {
    width: 100%;
  }

  .reacg-popup-footer {
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
  }

  .reacg-agreement-wrapper,
  .reacg-buttons-wrapper {
    padding-top: 10px;
  }

  .reacg-buttons-wrapper {
    text-align: right;
  }

  .reacg-note-wrapper {
    font-size: 14px;
    font-weight: 500;
  }

  .reacg-popup-close {
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
  }

  .reacg-popup label {
    cursor: pointer;
  }

  .reacg-skip.button,
  .reacg-skip.button:hover,
  .reacg-skip.button:focus {
    background: none;
    border: none;
  }

  .reacg-submit,
  .spinner {
    float: left;
  }
}

.reacg-optin-popup-overlay {
  .reacg-popup {
    max-width: 480px;
  }
  .reacg-popup > div {
    padding: 20px 25px;
  }
}

.reacg-hidden {
  display: none !important;
}
