.reacg-gallery img,
.reacg-gallery ul,
.reacg-gallery li {
  margin: 0;
  padding: 0;
}

.reacg-gallery .settings input {
  border: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  box-shadow: none;
  outline: none;
}

.yarl__portal.yarl__portal_open {
  z-index: 100000;
}