.reacg-posts-wrapper {
  overflow-y: auto !important;
  .spinner {
    display: none;
    float: none;
    margin: 10px 0 0 10px;
  }
  .spinner.is-active {
    display: inline-block;
  }

  .posts-filters {
    margin-top: 32px;
    margin-right: 2%;
    width: 40%;
  }

  .media-toolbar,
  .attachments-wrapper .attachments {
    right: 0;
  }
  .reacg_select_type_wrapper .reacg_select_type {
    margin: 0 10px;
  }
  .reacg_select_type_wrapper,
  .reacg_dynamic_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 150px;
  }
  .reacg_dynamic_wrapper {
    margin-top: 50px;
  }
  .reacg_dynamic_wrapper>div {
    width: 700px;
    max-width: 700px;
  }
  .reacg_dynamic_wrapper>div>div {
    margin: 25px 16px;
  }
  .reacg_dynamic_wrapper select {
    width: 100%;
    max-width: 100%;
  }
  .reacg_dynamic_wrapper .reacg_auto_width {
    width: auto;
  }
  .reacg_dynamic_wrapper label {
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .reacg_dynamic_wrapper .reacg_inline_label {
    display: inline;
  }
  .reacg_dynamic_wrapper .reacg_small_label {
    font-weight: 400;
  }
  .reacg_dynamic_wrapper input[type=checkbox] {
    margin-top: 1px;
  }
  .reacg_dynamic_wrapper input[type=number] {
    width: 60px;
  }
  .select2-container--default .select2-selection--multiple {
    padding: 0;
  }
}
.select2-container {
  z-index: 1000000;
}
.media-router .media-menu-item[disabled][aria-selected=false]:active,
.media-router .media-menu-item[disabled][aria-selected=false]:hover {
  color: rgba(16, 16, 16, 0.3);
}